#
# Industrial I/O subsystem
#

menuconfig IIO
	tristate "Industrial I/O support"
	depends on GENERIC_HARDIRQS
	help
	  The Industrial input / output subsystem provides a unified
	  framework for many different types of embedded sensor.

if IIO

source "drivers/iio/adc/Kconfig"
source "drivers/iio/imu/Kconfig"
source "drivers/iio/light/Kconfig"

endif # IIO
